[class*=sidebar-dark-] {
    background: linear-gradient(83deg, #666, #444);
}

.ck.ck-editor__main>.ck-editor__editable {
    min-height: 6rem;
}

.input-group>.form-control:not(:first-child) {
    cursor: pointer;
}